[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aea = {extras = ["all"], version = "*"}
aea-ledger-ethereum = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
install = "bash ./scripts/setup.sh"
agent = "aea run"
